* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.b-page {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
}
.b-page__header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header-wrapper,
.main-wrapper {
  width: 100%;
  display: flex;
  transition: ease 0.5s;
}
.header-wrapper {
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.main-wrapper {
  flex-direction: column;
}
/* header */

.authorization {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 150px;
  width: 100%;
  border-left: 1px solid #ebebf1;
  height: 100%;
  transition: ease 0.5s;
}
.authorization__avatar{
    margin-right: 2px;
}
.authorization:hover{
    cursor: pointer;
    filter: saturate(3);
}
.logo__image {
  background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/logo.svg);
  width: 135.04px;
  height: 30.32px;
}

.search-form {
  position: relative;
  margin: 0 auto;
  max-width: 763px;
  width: 100%;
  height: 39px;
}
.search-form__input {
  width: 100%;
  height: 100%;
  border: solid 1px#EBEBF1;
  border-radius: 3px;
  outline: none;
}
.search-form__submit {
  position: absolute;
  background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/search.svg);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 10px;
}
.logo__image,
.search-form__submit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__input,
.authorization__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #768298;
}
.search-form__input {
  padding-left: 38px;
}
.authorization__name {
  margin-right: 10px;
}

/* main */
.title {
  margin-top: 69.5px;
}
.title__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
}
.partners {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
 
}


.partners__link{
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 230px;
    max-width: 270px;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    transition: ease 0.5s;
}


.henkel{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/henkel.jpg);
}
.john-deere{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/john-deere.jpg);
}
.mcdonalds{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/mcdonalds.jpg);
}
.ikea{
    background:url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/ikea.jpg);
}
.reebok{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/reebok.jpg);
}
.nike{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/nike.jpg);
}
.catepillar{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/catepillar.jpg);
}

.partners__link:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .b-page{
        padding-left: 10px;
        padding-right: 10px;
    }
.container{
    max-width: 730px;
}
.search-form{
    max-width: 344px;
}
.title__text{
    font-size: 28px;
}
.partners {
    margin-top: 30px;
    column-gap: 19.5px;
    row-gap: 20.5px;
  }
  .title {
    margin-left: 1px;
  }
  .partners__link{
    
    max-width: 230px;
    
}
  .henkel{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/henkel-768.jpg);
}
.john-deere{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/john-deere-768.jpg);
}
.mcdonalds{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/mcdonalds-768.jpg);
}
.ikea{
    background:url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/ikea-768.jpg);
}
.reebok{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/reebok-768.jpg);
}
.nike{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/nike-768.jpg);
}
.catepillar{
    background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/catepillar-768.jpg);
}

}
@media  screen and (max-width: 376px){
    .b-page{
        position: relative;
    }
    .container{
        max-width: 335px;
    }
    .header-wrapper{
        height: 117px;
        position: relative;
    }
    .authorization{
        border: none;
        background: url();
    }
    .search-form{
        position: absolute;
        bottom: 0;
    }
    .partners__link{
        max-width: 335px;
    }
      .henkel{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/henkel-375.jpg);
    }
    .john-deere{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/john-deere-375.jpg);
    }
    .mcdonalds{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/mcdonalds-375.jpg);
    }
    .ikea{
        background:url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/ikea-375.jpg);
    }
    .reebok{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/reebok-375.jpg);
    }
    .nike{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/nike-375.jpg);
    }
    .catepillar{
        background: url(https://raw.githubusercontent.com/nnadeysha/test-qsoft/main/assets/catepillar-768.jpg);
    }


}